[submodule "LMS-webapp"]
	path = LMS-webapp
	url = https://github.com/Manas-Nair1/next13-lms-platform
[submodule "Hw-helper-OpenCV"]
	path = Hw-helper-OpenCV
	url = https://github.com/Manas-Nair1/mathgpt.github.io
